<html>
<head>
<title>data.gov.bn</title>
	<!-- mobile viewport -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <!-- ios webapp - hide safari toolbar -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<!-- icons, ipad3, iphone retina, ipad, iphone -->
	<!-- not working well with Android. Samsung browser seems to work, Chrome doesn't.... -->
    <link rel="apple-touch-icon" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72"   href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon"                 href="ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon"                    href="ico/favicon.png">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<style>
	h1{
		font-weight: bold;
		text-decoration: underline;
	}
 	ul.search, ol.datasets {
 		padding: 0;
 		list-style-type: none;
 	}
 	ol.datasets > li{
		margin-bottom: 1em;
		border: 1px solid #bbbbbb;
		padding: 1em;
 	}
 	ol.datasets li .main{
		font-weight: bold;
 	}
 	span.attribute{
 		font-style: italic;
 		font-weight: bold;
 		font-size: smaller;
 	}
	</style>
</head>
<body ng-app>
	<div id="dataGovBn" ng-controller="dataGovBn" class="fluid" >
		<div class="col-md-3 well search">
			<h1>data.gov.bn</h1>
			<h3>Search</h3>
			<input ng-model="title" placeholder="Search Title">
			<h3>Categories</h3>
			<ul class='search'>
				<li ng-repeat="category in categories"> 
					<label><input type='checkbox' ng-model='categories[category]' value='{{category}}'> {{category}}</label>
				</li>
			</ul>
			<h3>Publishers</h3>
			<ul class='search'>
				<li ng-repeat="publisher in publishers"> 
					<label><input type='checkbox' ng-model='publishers[publisher]' value='{{publisher}}'> {{publisher}}</label>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<h3>Results:</h3>
			<ol class="datasets">
				<li ng-repeat="item in items | filter:filterTitle | filter:filterCategory | filter:filterPublisher " class="">
					<div class='main'><a class='primary' href="{{item.details}}">{{item.title}}</a></div>
					<div class=''><span class='attribute'>Category</span>: {{item.category}}</div>
					<div class=''><span class='attribute'>Publisher</span>: {{item.publisher}}</div>
					<div class=''><span class='attribute'>Last Updated</span>: {{item.updated}}</div>					
					<span class='attribute'>Dataset:</span>
					<ul class='attachments'>
						<li ng-repeat="dataset in item.datasets"> 
							<div><a href="{{dataset.link}}">{{dataset.title}}</a></div>
							<div><a href="download-attachments/attachments/{{dataset.title}}">(local copy)</a></div>
						</li>
					</ul>
				</li>
	  		</ol>
		</div>
</div>

    <script type="text/javascript" src="dist/data.gov.bn-object.json"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script>
		"use strict";

		RegExp.escape= function(s) {
		    return s.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
		};

		function unique(data, key){
			var tmp = {};
			for(var i = 0; i < data.length; i++){
				tmp[data[i][key]] = 1;
			}
			var values = [];
			for(var k in tmp)
				values.push(k);
			return values;
		}
		function dataGovBn($scope, $filter, $http){
			$http.get("dist/data.gov.bn.json").success(function(data) {
				for(var i = 0; i < data.length; i++){
					for(var j = 0; j < data[i].datasets.length; j++){
			    		data[i].datasets[j].title = data[i].datasets[j].title.replace("  ", " "); // filenames saved with single space when source link has double spaces
					}
				}
				$scope.categories = unique(data, 'category').sort();
				$scope.publishers = unique(data, 'publisher').sort();
		    	$scope.items = data;
			});

			$scope.filterOnAttributeInArray = function(item, array, attributeName){
				var isMatch = true;
				var filtering = false;
				var searchedValues = {};
				for(var i = 0; i < array.length; i++){
					var key = array[i];
					if(array[key]) {
						filtering = true;
						searchedValues[key] = {};
					}
				}
				if(filtering){
					isMatch = false;
					for(var k in searchedValues){
						if(item[attributeName] === k) {
							isMatch = true;
							break;
						}
					}
				}
				return isMatch;
			}

			$scope.filterOnAttribute = function(item, searchValue, attributeName){
				var isMatch = true;
				if (typeof searchValue != "undefined" && searchValue != "") {
					var regex = new RegExp(RegExp.escape(searchValue), "i")
					isMatch = isMatch && regex.test(item[attributeName]);
				}
				return isMatch;
			}
			$scope.filterTitle = function(item){
				if($scope.filterOnAttribute(item, $scope.title, 'title')) return true;
				for(var i = 0; i < item.datasets.length; i++){
					if($scope.filterOnAttribute(item.datasets[i], $scope.title, 'title')) return true;
				}
			}
			$scope.filterPublisher = function(item) {
		  		return $scope.filterOnAttributeInArray(item, $scope.publishers, 'publisher');
			}

			$scope.filterCategory = function(item) {
				return $scope.filterOnAttributeInArray(item, $scope.categories, 'category');
			}
		}
	</script>
</body>
</html>
